:root{--primary: #6597cb;}
:root{--secondary: #e1e1e1;}

@font-face {
    font-family: Leelawadee;
    src: url('../fonts/leelawad.ttf');
}

@font-face {
    font-family: Myriad Pro;
    src: url('../fonts/MyriadPro-Regular.ttf');
}

.invalid-feedback{display: block;padding-bottom: 13px;}

.vbtn{color: #fff;background-color: var(--primary);border-color: var(--primary);    border-radius: 0;   padding: 5px 25px; outline: 0;}
.rbtn{color: #000;background-color: var(--secondary);border-color: var(--secondary);    border-radius: 0;   padding: 5px 25px; outline: 0;}
#logSec .container { max-width: 92%;}
#logSec .logo, #logSec .login-form {background: #cfced3;margin-right: 5px;margin-left: 5px;padding: 0;}
#logSec .logo {flex: 0 0 20%;max-width: 20%;text-align:center;}
#logSec .logo img {padding: 25px 0;margin: auto;}
#logSec .login-form form {width: 85%;margin: 0 auto;text-align: center;}
#logSec .login-form {flex: 0 0 78%;max-width: 78%;}
#logSec .login-form h5 {background: #464646;color: #fff;padding: 9px 15px;font-size: 17px;font-family: 'Leelawadee', 'Arial', 'sans-serif';border-bottom: 5px solid var(--primary);}
#logSec .login-form p {font-size: 15px;width: 95%;margin: 15px auto;text-align: center;font-family: 'Leelawadee', 'Arial', 'sans-serif';}
#logSec .login-form .form-group label {width: 18.5%;color: #fff;text-align: right;display: flex;justify-content: flex-end;margin-right: 10px;}

#logSec .login-form .form-group {background: #5a5a5a;padding: 8px 10px;}
#logSec .login-form .form-group input {width: 30%;padding: .25rem .75rem;height: 30px;border-radius: 0;border: 0;}

#logSec .login-form .btn-outline-primary {color: var(--primary);border-color: var(--primary);border-radius: 0;font-family:  'Leelawadee', 'Arial', 'sans-serif';padding: 0px 30px;    font-size: 20px;}
#logSec .login-form .btn-outline-primary:hover {color: #fff;background-color: var(--primary);border-color: var(--primary);}
#logSec .login-form .btn-link ,
#logSec .login-form .btn-link:hover{color:#464646;}


@media only screen and (max-width:767px){
    #logSec .login-form .form-group label {width: 37% !important;justify-content: flex-start !important; text-align: left !important;}
    #logSec .login-form .form-group input {width: 67%;margin-bottom: 8px;}
    #logSec .login-form .form-group input[type="password"]{margin-bottom: 0;}
    #logSec .logo, #logSec .login-form {flex: 0 0 100%;max-width: 100%;margin: 0;}
    #logSec .logo{margin-bottom: 13px;}
    #logSec .login-form {padding-bottom: 20px;}
    #logSec .login-form form {width: 95%;}
}

.error{
    list-style: none;
    color:var(--danger);
}

.navbar-light .navbar-nav .nav-link {font-family: Myriad Pro;color:#464646;}
.navbar-light .navbar-nav .active>.nav-link {color:var(--primary);}

footer.footer {text-align: center;background: #efefef;padding: 30px 0;}


.firstcontainer {padding: 35px 0 55px;}
section.pagetitle .container {max-width: 98%;}
section.pagetitle h1 {color: var(--primary);font-family: Calibri;font-weight: 300;}
section.pagetitle h1 span { color: #464646;font-size: 73%;}

h1.vespaio-brand {color: var(--primary);font-family: Calibri;font-weight: 300;}
h1.vespaio-brand span { color: #888888;}

.vtitle {background: #464646;color: #fff;padding: 9px 15px;font-size: 17px;font-family:  'Leelawadee', 'Arial', 'sans-serif';border-bottom: 5px solid var(--primary);}
.unit {max-width: 98%;padding-bottom: 55px;}
.unit .sidebar {border: 1px solid grey;padding: 0;margin: 0 15px;max-width: calc(25% - 30px);background: #fafafa;}
.unit .sidebar .vtitle {margin:0;}
.unit .sidebar .box {padding:10px 10px 10px 6px;background: #fafafa;}
.unit .sidebar .box {margin:0;    height: 89%;}
.unit .sidebar .box .sideform {display:flex;justify-content: space-evenly;}
.unit .sidebar .box .sideform label {/*width:30%;*/}
.unit .sidebar .box .sideform input,  .unit .sidebar .box .sideform select{width: 100%; height: 30px;border-radius: 0; background-color:inherit;}

.unit .sidebar .box .sideform tr td{border:0;padding: .35rem;}
.unit .sidebar .box .sideform tr td:first-child {width: 30%;text-align: right;font-size: 14px}
.unit .sidebar .box .sideform tr td:nth-child(2) { width: 40% !important;}
.unit .sidebar .box .sideform .round { position: relative; float: left; margin-left: 7px;}
.unit .sidebar .box .sideform .round label {border: 1px solid var(--primary);border-radius: 50%;cursor: pointer;height: 25px;left: 50%;position: absolute;top: 0;width: 25px;    transform: translateX(-50%);}
.unit .sidebar .box .sideform .round input[type="checkbox"] {visibility: hidden;}
.unit .sidebar .box .sideform .round input[type="checkbox"]:checked + label {background-color: var(--primary);border-color: var(--primary);}
.unit .sidebar .box .sideform .round input[type="checkbox"]:checked + label:after {opacity: 1;}
.unit .sidebar .box .sideform .round input[type="radio"] {visibility: hidden;}
.unit .sidebar .box .sideform .round input[type="radio"]:checked + label {background-color: var(--primary);border-color: var(--primary);}
.unit .sidebar .box .sideform .round input[type="radio"]:checked + label:after {opacity: 1;}

.unit .main {}
.unit .main {margin:-41px 0 0 0;}
.unit .main .saveWrap{margin-bottom:5px;display: flex;justify-content: flex-end;align-items: center;}

.unit .main .detail {}
.unit .main .detail thead {}
.unit .main .detail thead tr {background: #464646;color: #fff;font-size: 17px;font-family:  'Leelawadee', 'Arial', 'sans-serif';border-bottom: 5px solid var(--primary);}
.unit .main .detail thead tr td {border: 0;padding: 8px 10px;    text-align: left;}
.unit .main .detail tbody {}
.unit .main .detail tbody tr {}
.unit .main .detail tbody tr td {border: 0;text-align: center;    padding: .3rem 0.35rem;}
.unit .main .detail tbody tr td input{background: 0;border:0;}
.unit .main .detail tbody tr td select {background: 0;border: 0;-webkit-appearance: none;padding: 0 15px;outline: 0;}

.unit .main .detail .round { position: relative;}
.unit .main .detail .round label {background-color: #fff;border: 1px solid var(--primary);border-radius: 50%;cursor: pointer;height: 20px;width: 20px;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
.unit .main .detail .round input[type="checkbox"] {visibility: hidden;}
.unit .main .detail .round input[type="checkbox"]:checked + label {background-color: var(--primary);border-color: var(--primary);}
.unit .main .detail .round input[type="checkbox"]:checked + label:after {opacity: 1;}

.pagination {display: flex;justify-content: center;}
.pagination .arrow {display: flex;width:80px;justify-content: space-between;}
.pagination .arrow a {}
.pagination .arrow a img{width: 90%;}

@media only screen and (max-width:767px) {
    .unit .sidebar {max-width: calc(100% - 30px);}
}

@media only screen and (min-width:1600px) {
    .unit .sidebar {max-width: calc(20% - 30px);}
    .unit .main {max-width: 80%; }
}

.team {max-width: 1240px;padding-bottom: 55px;}
.team .adduser{margin-bottom: 15px;text-align: right;}
.team .adduser a{}
.team .adduser a img{}
.team .adduser a div{text-align: center;}
.team .adduser a span{display: block;color:#464646;text-decoration: none;}
.team .main {}
.team .main .detail {}
.team .main .detail thead {}
.team .main .detail thead tr {background: #464646;color: #fff; font-size: 17px; font-family:  'Leelawadee', 'Arial', 'sans-serif';border-bottom: 5px solid var(--primary);}
.team .main .detail thead tr td {min-width: 160px;border: 0;padding: 8px 15px;text-align: center;}
.team .main .detail thead tr td:first-child{text-align: left;}
.team .main .detail tbody {}
.team .main .detail tbody tr {border-bottom: 3px solid #fff;}
.team .main .detail tbody tr:nth-of-type(odd) {background-color: #e1e1e1;}
.team .main .detail tbody tr:nth-of-type(even) {background-color: #cccccc;}
.team .main .detail tbody tr td {padding: 5px 8px 5px 8px;border: 0;text-align: center;vertical-align: middle;}
.team .main .detail tbody tr td:first-child{text-align: left;}
.team .main .detail tbody tr td input {background: none;border:0;}
.team .main .detail tbody tr td label {margin: 0;}
.team .main .detail tbody tr td label select {background: 0;background:url('/backend/images/dropdownarrow.png') no-repeat right top;border: 0;-webkit-appearance: none;padding: 0 15px;outline: 0;min-width:180px;}
.team .main .detail tbody tr td label select.short{min-width:72px;}
.team .main .detail tbody tr td a {}
.team .main .detail tbody tr td button{border:none; background-color: transparent;}
.team .main .detail tbody tr td button img{border:none; background-color:transparent;}



.modal-body .detail {margin-bottom: 0;}
.modal-body .detail thead {}
.modal-body .detail thead tr {background: #464646;color: #fff;font-size: 17px;font-family:  'Leelawadee', 'Arial', 'sans-serif';border-bottom: 5px solid var(--primary);}
.modal-body .detail thead tr td {border: 0;padding: 8px 15px;text-align: center;}
.modal-body .detail thead tr td:first-child{text-align: left;}
.modal-body .detail tbody {}
.modal-body .detail tbody tr {border-bottom: 3px solid #fff;}
.modal-body .detail tbody tr:nth-of-type(odd) {background-color: #e1e1e1;}
.modal-body .detail tbody tr:nth-of-type(even) {background-color: #cccccc;}
.modal-body .detail tbody tr td {text-align: left;padding: 5px 8px 5px 8px;border: 0;vertical-align: middle;}
.modal-body .detail tbody tr td input { width: 100%; background: 0; border: 0;}
.modal-body .detail tbody tr td:first-child{text-align: left;}
.modal-body .detail tbody tr td label {margin: 0;}
.modal-body .detail tbody tr td label select {background: 0;background:url('/backend/images/dropdownarrow.png') no-repeat right top;border: 0;-webkit-appearance: none;padding: 0 15px;outline: 0;min-width:180px;}
.modal-body .detail tbody tr td label select.short {  min-width: 74px;  padding: 0;}
.modal-content input[type="submit"]{color: #fff;background-color: var(--primary);border-color: var(--primary);    border-radius: 0;   padding: 5px 25px; outline: 0;}
.modal-content .pull-left { font-size: 13px;}

.lease {max-width: 1240px; padding-bottom: 55px;}
.lease .vtitle{margin-bottom: 0;}
.lease .tbox { border:1px solid #cecece; padding: 5px;background: #fafafa;}
.lease .text { margin-bottom: 20px;}
.lease .savebutton {margin-bottom: 8px; text-align: right;}
.lease .savebutton input { }


.floor {max-width: 95%;padding-bottom: 55px;}
.floor .adduser{margin-bottom: 15px;text-align: right;}
.floor .main {}
.floor .main .savebtn .pull-right {
    margin-bottom: 7px;
}

.floor .main .pagination button, .floor .main .pagination button:active{background-color: transparent; border:none;}
.floor .main .table-container{overflow-x:hidden; clear: both;}
.floor .main .detail { width: 100%;}
.floor .main .detail thead {}
.floor .main .detail thead tr {background: #464646;color: #fff; font-size: 17px; font-family:  'Leelawadee', 'Arial', 'sans-serif';border-bottom: 5px solid var(--primary);}
.floor .main .detail thead tr td {min-width: 310px;border: 0;padding: 8px 15px;text-align: center;}
.floor .main .detail thead tr td:first-child{text-align: left;}
.floor .main .detail tbody {}
.floor .main .detail tbody tr {border-bottom: 3px solid #fff;}
.floor .main .detail tbody tr:nth-of-type(odd) {background-color: rgba(0,0,0,.05);}
.floor .main .detail tbody tr:nth-of-type(even) {background-color: rgba(0, 0, 0, 0.00);}
.floor .main .detail tbody tr td {padding: 5px 8px 5px 8px;border: 0;text-align: center;vertical-align: middle;}
.floor .main .detail tbody tr td:first-child{text-align: left;}
.floor .main .detail tbody tr td input{background: none;border:0;width: 100%;text-align: center;}
.floor .main .detail tbody tr td textarea {background: none;border:0;width: 100%;text-align: center;}
.floor .main .detail tbody tr td label {margin: 0;}
.floor .main .detail tbody tr td label select {background: 0;background:url('/backend/images/dropdownarrow.png') no-repeat right top;border: 0;-webkit-appearance: none;padding: 0 15px;outline: 0;min-width:180px;}
.floor .main .detail tbody tr td label select.short{min-width:72px;}
.floor .main .detail tbody tr td a {}
.floor .main .detail tbody tr#trFeature td input{width:105% !important;}
.floor .main .detail tbody tr td button{border:none; background-color: var(--secondary);}
.floor .main .detail tbody tr td button img{border:none; background-color: var(--secondary);}
.floor .main .detail tbody tr#trFeature td textarea{line-height:20px;}


a.disabled{
    opacity: 0.5;
    pointer-events: none;
}
