#tdUnit {min-width: 100px; width:100px}
#tdShow {min-width: 60px;}
#tdList {min-width: 80px;}
#tdRent {padding-left: 1rem;}
.tdRent{display: inline-table;}

.unit .main .detail tbody tr td:nth-child(5) {    padding: .3rem 1rem;}
.unit .main .detail tbody tr td:nth-child(4) input,
.unit .main .detail tbody tr td:nth-child(5) input {background-position: 97% 50%; padding: 0 0px;max-width: 102px;}
.unit .main .detail tbody tr td:nth-child(5) input{background: none;max-width: 65px;}
.unit .main .detail tbody tr td:nth-child(6) select,
.unit .main .detail tbody tr td:nth-child(7) select,
.unit .main .detail tbody tr td:nth-child(8) select {padding: 0 20px 0 0;}
.unit .main .detail tbody tr td:nth-child(9) input { max-width: 60px;text-align: center;}
.unit .main .detail tbody tr td:nth-child(10) input, 
.unit .main .detail tbody tr td:nth-child(11) input, 
.unit .main .detail tbody tr td:nth-child(12) input { min-width: 330px;}
