.arrow{width: 0; height: 0; }
.arrow.up{border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 15px solid #fff;}
.arrow.down{border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 15px solid #fff;}
.arrow.right{border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 15px solid #fff;}
.arrow.left{border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-right: 15px solid #fff;}

.mobileheader{padding: 10px;background: var(--dark-bg);color:#fff;position: relative;    z-index: 2;}
.borderbox {padding: 2px 7px;border: 1px solid #fff;border-radius: 2px;display: flex;align-items: center;}

.m h1, .m h2, .m h3, .m h4, .m h5, .m h6, .m a, .m p, .m * {font-family: 'Open Sans', sans-serif;}
.m {padding: 0;}
.m .plans {}
.m .plans p{margin:0;font-weight: 500;}
.m .plans p.name{color:var(--primary);display: flex;}
.m .plans p.name span {font-size: 80%;}
.m .plans .title {}
.m .plans .plan{color:var(--primary);}
.m .plans .ver {border-right: 1px solid #fff;height: 20px;margin: 0 5px;}
.m .plans .arrow{margin-left:auto;}

.m .filter-wrap {position: absolute;background: var(--dark-bg);width: 75%;z-index: 2;top: 40px;left: -10px;padding: 8px 10px 10px;}
.m .filter-wrap .filter {margin-bottom:5px;}

.m .filter-wrap .filteritems {position: absolute;left: 10px;padding: 8px 8px 16px;width: 120px;min-height: auto;background: #fff;border-radius: 7px;z-index: 0;}
.m .filter-wrap .filteritems.floor {top: 33px;}
.m .filter-wrap .filteritems.views{top:63px;}
.m .filter-wrap .filteritems.schm {top: 93px;}
.m .filter-wrap .filteritems.avl{top:123px;}
.m .filter-wrap .filteritems.rnt{top:153px;}
.m .filter-wrap .filter-title {}
.m .filter-wrap .filter-title h6{ font-weight: 400; color: var(--primary); text-decoration: underline;}
.m .filter-wrap .filter-content {display: flex; justify-content: space-between;    align-items: center;    margin-bottom: 5px;}
.m .filter-wrap .filter-content p { color: #7b7b7b;margin-bottom: 0;font-size:12px;font-family: 'Roboto', sans-serif;}
.m .filter-wrap .fwrap {display: flex;width: 100%;align-items: center;justify-content: space-between;}
.m .filter-wrap .namefilter{}
.m .filter-wrap .namefilter > span {font-size:13px;font-family: 'Roboto', sans-serif; color: var(--primary); text-transform: uppercase;}
.m .filter-wrap .arrow.down {border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 7px solid #fff;}
.m .filter-wrap .arrow.up {border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 7px solid #fff;}
.m .filter-wrap .round { position: relative;width: 18px;height: 18px;}
.m .filter-wrap .round label {border: 1px solid var(--primary);border-radius: 50%;cursor: pointer;height: 18px;left: 50%;position: absolute;top: 0;width: 18px;transform: translateX(-50%);margin:0}
.m .filter-wrap .round input[type="checkbox"] {visibility: hidden;}
.m .filter-wrap .round input[type="checkbox"]:checked + label {background-color: var(--primary);border-color: var(--primary);}
.m .filter-wrap .round input[type="checkbox"]:checked + label:after {opacity: 1;}

/* .m .filter-wrap .select2-container{width:100% !important;}
.m .filter-wrap .select2-container--default .select2-selection--single {background-color: transparent;border: 0;}
.m .filter-wrap .select2-container--default .select2-selection--single:focus {outline: 0;}
.m .filter-wrap .select2-container .select2-selection--single {height: 20px;}
.m .filter-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {color: var(--primary);font-size: 14px;line-height: 20px;}
.m .filter-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {height: 20px;}
.m .filter-wrap .select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #fff transparent transparent transparent;}
.m .filter-wrap .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color: transparent transparent #fff transparent;}

.select2-container--open .select2-dropdown--below,
.select2-container--default .select2-results>.select2-results__options {border-radius: 5px;top:5px;}
.select2-dropdown{border:0;} */

.m .filter-wrap #floorFilter.filter .select2-selection__rendered:before {content: "Floor | ";}
.m .filter-wrap #viewFilter.filter .select2-selection__rendered:before {content: "View | ";}
.m .filter-wrap #schemeFilter.filter .select2-selection__rendered:before {content: "Scheme | ";}
.m .filter-wrap #availFilter.filter .select2-selection__rendered:before {content: "Available | ";}
.m .filter-wrap #rentFilter.filter .select2-selection__rendered:before {content: "Rent | ";}

.m .filter-wrap .closeBtn {display: flex;width: 40%;margin: 15px 0 0 auto;align-items: center;}
.m .filter-wrap .closeBtn p {margin: 0;font-size: 13px;color:var(--primary)}
.m .filter-wrap .closeBtn p:last-child {background: var(--primary);color:#fff;width: 18px;height: 18px;font-size: 13px;line-height: 18px;text-align: center;border-radius: 2px;margin-left: auto;}

.m .list-wrap {position: absolute;background: var(--dark-bg);width: 95%;z-index: 2;left: 50%;transform: translateX(-50%);padding: 8px 10px 10px;}
.m .list-wrap .list {width: 50%;margin: 0 auto;}
.m .list-wrap .list dl{cursor: pointer;}
.m .list-wrap .list dl dt{font-size: 14px;font-weight: 500;}
.m .list-wrap .list dl dt:first-child {margin-bottom: 5px;}
.m .list-wrap .list dl dd {font-size: 12px;margin-bottom: 5px;position: relative;left: 100%;transform: translateX(-50%);}
.m .list-wrap .list dl dt.selected,
.m .list-wrap .list dl dd.selected{color:var(--primary);}


.m .list-wrap .unit {
    padding: 5px;
    position: relative;
    margin: 5px 0;
}
.m .list-wrap .unit label {
    border-radius: 50%;
    cursor: pointer;
    left: 0;
    position: absolute;
    margin: 0;
    padding: 0px 3px;
}
.m .list-wrap .unit input[type="checkbox"] { visibility: hidden; }
.m .list-wrap .unit input[type="checkbox"] + label {color: #fff;}
.m .list-wrap .unit input[type="checkbox"]:checked + label { color:var(--primary); }
.m .list-wrap .unit input[type="checkbox"]:checked + label:after { opacity: 1; }
.m .list-wrap .unit span {text-align: center;line-height: 13px;font-size: 16px;font-family: 'Roboto', sans-serif;}
/* .m .list-wrap .unit span:first-child{font-weight: normal;}
.m .list-wrap .unit span:last-child{font-weight: lighter;} */


.m .list-wrap .closeBtn {display: flex;width: 30%;align-items: center;margin-left: auto;}
.m .list-wrap .closeBtn p {margin: 0;font-size: 13px;color:var(--primary)}
.m .list-wrap .closeBtn p:last-child {background: var(--primary);color:#fff;width: 18px;height: 18px;font-size: 13px;line-height: 18px;text-align: center;border-radius: 2px;margin-left: auto;}

.m .filterunit {margin-top: 10px;display: flex;justify-content: space-between;position: relative;z-index: 1;}
.m .filterunit .units {width: 80%;}
.m .filterunit .units .owl-carousel.unitslide{position: relative;}
.m .filterunit .units .owl-carousel.unitslide .unit{}
.m .filterunit .units .owl-carousel.unitslide .unit.selected{color:var(--primary);}
.m .filterunit .units .owl-carousel.owl-drag .owl-item {width: 50px !important;}
.m .filterunit .units .owl-carousel.unitslide .owl-stage {width: 12000px !important;}
.m .filterunit .units .owl-carousel.unitslide .unit-wrap {}
.m .filterunit .units .owl-carousel.unitslide .owl-stage-outer {width: 80%; margin: auto;z-index: 4;}
.m .filterunit .units .owl-carousel.unitslide .owl-nav {display: flex;justify-content: space-between;position: absolute;width: 100%;top: 50%;transform: translateY(-50%);}
.m .filterunit .icon img{filter: brightness(300%);}
.m .filterunit .icon.active img{filter: none;}
.m .filterunit .matchlist-wrap {position: absolute;top: 40px;left:10px;width: 100%;background: var(--dark-bg);padding: 5px 5px 10px;}
.m .filterunit .matchlist-wrap .matchlist-title{display: flex;background: var(--primary);color: #fff;border-radius: 2px;margin: 2px;font-family: 'Roboto', sans-serif;font-weight: normal;}
.m .filterunit .matchlist-wrap .matchlist-title > div{width: 25%;text-align: center;font-size: 13px;}
.m .filterunit .matchlist-wrap table.list {height: 200px;margin: 0;}
.m .filterunit .matchlist-wrap tr.trdata {font-size: 12px;cursor: pointer;text-align: center;color: #fff;}
.m .filterunit .matchlist-wrap tr.trdata.active{color:var(--primary)}
.m .filterunit .matchlist-wrap tr.trdata td { border: 0;padding: 5px 0;width: 11.7%;font-family: 'SegoeUI', sans-serif;font-weight: 300;}
.m .filterunit .matchlist-wrap .no-results{padding:10px; color:var(--primary); font-weight:400;}
.m .filterunit .matchlist-wrap .closeBtn {display: flex;width: 30%;margin: 0px 18px 0 auto;align-items: center;}
.m .filterunit .matchlist-wrap .closeBtn p {margin: 0;font-size: 13px;color:var(--primary)}
.m .filterunit .matchlist-wrap .closeBtn p:last-child {background: var(--primary);color:#fff;width: 18px;height: 18px;font-size: 13px;line-height: 18px;text-align: center;border-radius: 2px;margin-left: auto;}

.m .infosection {position: relative;z-index: 1;padding: 5px;color: #fff;background: rgba(0, 0, 0, 0.5490196078431373);display: flex;align-items: center;}
.m .infosection img{margin-right: 5px;}
.m .infosection p{margin: 0;font-size: 10px;}
.m .infosection p span{color:var(--primary)}

.m .info-wrap {height: 86vh;overflow: auto;position: absolute;top: 89px;left: 50%;transform: translateX(-50%);width: 98%;background: var(--dark-bg);padding: 5px 5px 10px;z-index:2;}
.m .info-wrap .header {display: flex;justify-content: space-between;align-items: flex-start;}
.m .info-wrap .activeunit{width: 93%;}
.m .info-wrap .matchlist-title{display: flex;background: var(--primary);color: #fff;border-radius: 2px;font-family: 'Roboto', sans-serif;font-weight: normal;}
.m .info-wrap .matchlist-title > div{width: 25%;text-align: center;font-size: 14px;}
.m .info-wrap table.list {height: 200px;margin: 0;}
.m .info-wrap tr.trdata {font-size: 12px;cursor: pointer;text-align: center;color: #fff;}
.m .info-wrap tr.trdata.active{color:var(--primary)}
.m .info-wrap tr.trdata td { border: 0;padding: 5px 0;width: 11.7%;font-family: 'SegoeUI', sans-serif;font-weight: 300;}
.m .info-wrap .sorticon-warp {margin: 9px 0;}
.m .info-wrap .sorticon-warp .sortico {width: 25%;text-align: center;color: var(--primary);font-size: 13px;}
.m .info-wrap pre {width:100%; border:0;margin-bottom: 1rem;color:#fff;background:none;font-size: 13px;white-space: pre-wrap; white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}
.m .info-wrap .closeBtn {display: flex;margin: 0;align-items: center;}
.m .info-wrap .closeBtn p {margin: 0;font-size: 13px;color:var(--primary)}
.m .info-wrap .closeBtn p:last-child {background: var(--primary);color:#fff;width: 19px;height: 19px;font-size: 13px;line-height: 18px;text-align: center;border-radius: 2px;margin-left: auto;}

.m .info-btn {display:flex;color:#fff;justify-content: center;align-items: center;}
.m .info-btn span {margin: 0px 5px;font-size: 15px;}
.m .info-btn span.selected{color:var(--primary);}
.m .info-data {color: #fff;font-size: 13px;margin: 10px 0;}

.m .sa-btn-wrap{display: flex;  justify-content: space-around;margin:25px 0;}
.m .sa-btn-wrap a{background: var(--primary);color:#fff; border-radius:50px; padding:3px;font-size: 15px;text-align: center;width: 47%;}
.m .info-wrap img {width: 100%;background: #fff;}

.m .touricons {top: 5px;right: 10px;width: 65px;position: relative;z-index: 1;float: right;display: flex;justify-content: space-between;align-items: center;}
.m .touricons img{border-bottom: 4px solid transparent; padding-bottom: 4px;-webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));}
.m .touricons img.selected {border-bottom: 4px solid var(--primary);}

@media only screen and (max-width:1024px){
    .sitecontent {width: 99%;top: 166px;left: 50%;transform: translate(-50%);border-radius:0;}
    .sitecontent .header {display: none;}
    .sitecontent .floordetail {flex-direction: column;}
    .sitecontent .detail{width:100%;padding: 0;}
    .sitecontent .quick {width: 100%;display: flex;align-items: center;margin-bottom: 8px;}
    .sitecontent .floor {width: 100%;}
    .sitecontent .quick h4 {margin: 0px -15px 5px -15px; color: var(--primary);text-align: center;font-size: 12px;transform: rotate(-90deg);}
    .sitecontent .closeBtn {display: flex;align-items: center;}
    .sitecontent .closeBtn p {margin: 0;font-size: 13px;color:var(--primary)}
    .sitecontent .closeBtn p:last-child {background: var(--primary);color:#fff;width: 18px;height: 18px;font-size: 13px;line-height: 18px;text-align: center;border-radius: 2px;margin-left: auto;}
    .sitecontent .quick .qbox {border-radius: 0;margin: 0 auto 0;width: 52px;height: 50px;}
    .sitecontent .aptqk {display: flex;justify-content: space-between;   align-items: center;}
    .sitecontent .aptqk h5 {margin: 0;font-size: 20px;position: relative;left: 50%;left: 19%;}
    .sitecontent .aptqk .con{margin:0;}
    .sitecontent .aptqk .con .img-d {display: flex;}
    .sitecontent .aptqk .con .img-d div {width: 120px; display: flex;flex-direction: column;align-items: center;justify-content: center;}
    .sitecontent .aptqk .con p {border-radius: 0;}
}