#ascrail2003{top:51px !important;}

/* View */
#view{z-index:0 !important;position: absolute;top:0;width:100%;height:100%;}
#view > div:nth-child(2) {display: none !important;}
#view > div > div > div > div:first-child {display: none !important;}
#view canvas.widget-scene-canvas {}

/* Panorama */

#panorama{height:768px; top:0; position:absolute;}
.pnlm-controls-container{ top:100px;}

.nicescroll-rails{z-index:1 !important}
.circle{width:20px;height: 20px;border-radius: 50%;color:#fff;background: var(--primary);display: flex; justify-content: center;align-items: center;}
.box {background: #fff;border-radius: 10px;border-top-right-radius: 0;border-bottom-right-radius: 0;padding: 7px; margin-top: 5px;}

.fh {display: flex;flex-direction: column;}
.tourbtn {position: relative;z-index: 1;display: flex;justify-content: center;font-size: 13px;margin-top: auto;}
.tbtn {cursor: pointer;background: #fff;border-radius: 56px;padding: 2px 10px;font-size: 11px;margin: 0 2px;display: flex;justify-content: center;align-items: center;}
.tbtn.selected {background:var(--primary);color:#fff;}
.tbtn *{margin:0 5px;}
.tbtn img{    width: 15px;}

.selectunit {width:100%;display: flex;background: rgba(255,255,255,0);border-radius: 4px;align-self: flex-start;}
.selectunit .title {position: relative;z-index: 1;display: flex;align-items: center;justify-content: space-between;background: var(--primary);color:#fff;padding:5px 20px 5px 22px;border-radius: 0px;border-top-right-radius: 30px;border-bottom-right-radius: 30px;align-self: flex-start;margin-top: 3px;}
.selectunit .title img {align-self: center;margin-right: 5px;width:25px;}
.selectunit .title span { width: 55px;line-height: 17px;font-size:14px;letter-spacing: 2px;}

.selectunit .units {display: flex;padding: 0 5px;overflow:hidden;}
.selectunit .units form{overflow: hidden;}
.selectunit .units .owl-item {min-width: 45px;}
.selectunit .unit { background:#fff;width: 40px;height: 40px;padding:5px;border-radius: 50%;cursor:pointer;position: relative; float: left;margin: 5px 0;box-shadow: 1px 1px 5px #00000061;}
.selectunit .unit label { border-radius: 50%;cursor: pointer;left: 0;position: absolute;top: 0;width: 40px;height: 40px; margin:0;padding: 0px 3px;display: flex;flex-direction: column;justify-content: center;}
.selectunit .unit input[type="checkbox"] { visibility: hidden; }
.selectunit .unit input[type="checkbox"] + label {color: #707070;}
.selectunit .unit input[type="checkbox"]:checked + label { color:var(--primary); }
.selectunit .unit input[type="checkbox"]:checked + label:after { opacity: 1; }
.selectunit .unit span {display:block;text-align: center;line-height: 13px;font-size: 13px;font-family: 'Roboto', sans-serif;}
.selectunit .unit span:first-child{font-weight: normal;}
.selectunit .unit span:last-child{font-size:10px;font-weight: lighter;}


.selectunit  {display: flex;}
.selectunit .infosection {display: flex;flex-direction:column;width: 30%;position: relative;margin: 0 auto;}
.selectunit .infosection .icon{position: relative;z-index: 1; margin: 0 auto 10px;display: flex;    width: 230px;justify-content: space-between;align-items: center;}
.selectunit .infosection .icon .threebtn {background: #fff;border-radius: 50%;display: flex;justify-content: center;align-items: center;box-shadow: 1px 1px 5px #00000061;cursor: pointer;}
.selectunit .infosection .icon .threebtn.img {width: 50px;height: 50px;}
.selectunit .infosection .icon .threebtn.big {width: 77px;height: 77px;}
.selectunit .infosection .icon .threebtn.big a{color: #353535;text-align: center;text-transform: uppercase;line-height: 17px;    font-size: 14px;}
.selectunit .infosection .infoitems{position: relative;z-index: 1;display: flex;justify-content: space-between;}
.selectunit .infosection .infoitems div{cursor:pointer;background: #fff;text-decoration: none;color: #353535;font-size: 11px;padding: 2px 10px;border-radius: 50px;width: 24%;display: inline-block;text-align: center;}
.selectunit .infosection .infoitems div.selected{background: var(--primary);color:#fff;}
.selectunit .infosection .infodata{border-radius: 5px;position: absolute;z-index: 1; background: #fff;padding:5px 8px;min-height: 50px;width: 120%;top: 120px;left: 50%;transform: translate(-50%);}
.selectunit .infosection .infodata span {float: right;font-size: 20px;position: absolute;top: -6px;right: 2px;cursor: pointer;border-radius: 3px;font-size: 16px;}

.sitecontent {display: flex;flex-direction: column;justify-content: space-between;margin: 0;position: absolute;width: 99%;top: 52%;left: 51.35%;transform: translate(-50%,-50%);z-index: 10;border-radius: 10px;}
.sitecontent .header{display: flex;font-size:12px;align-items: center;margin-bottom: 7px;}
.sitecontent .header .info{display: flex; align-items: center;}
.sitecontent .header .info:first-child{margin-right: 5px;}
.sitecontent .header .info span {font-family: 'Open Sans', sans-serif;color: #fff;background: #9e9e9e;width: 20px;height: 20px;display: flex;border-radius: 50%;justify-content: center; align-items: center;margin-right: 4px;}
.sitecontent .header .info p{margin:0;font-family: 'Open Sans', sans-serif;}
.sitecontent .header .showing{}
.sitecontent .header .showing { margin: 0 auto; display: flex; align-items: center;}
.sitecontent .header .showing span{ margin: 0 4px; color: var(--primary);}
.sitecontent .header .fdClose {background: var(--primary);border-radius: 4px;cursor: pointer;height: 20px;width: 18px;position: relative;}
.sitecontent .header .fdClose span {line-height: 7px;font-size: 14px;height: 14px;width: 18px;color: #fff;position: absolute;top: 6px;text-align: center;}
@media only screen and (min-width:1600px){
    .sitecontent {top:50%;}
    .sitecontent .header {font-size:14px;}
    .sitecontent .header .fdClose {margin-left: 5px;}
}
@media only screen and (min-width: 1920px){
    .sitecontent {top:50%;}
    .sitecontent .header { font-size: 17px;}
    .sitecontent .header .fdClose {margin-left: 8px;}
}

.sitecontent .floordetail {display:flex;justify-content: space-between;}
<<<<<<< HEAD
.sitecontent .floor {width:80%}
.sitecontent .floor img{width:100%;}
=======
.sitecontent .floor {width: 65%; position: relative;}
.sitecontent .floor img{width:100%; position:absolute;}
.sitecontent .floor .svg{position:absolute;}
>>>>>>> a3e898390069121c6ee85957372f45375043fd5a
.sitecontent .detail {font-family: 'Open Sans', sans-serif;width:13%; padding: 0; padding-left: 7px;display:flex;flex-direction:column;    justify-content: space-between;}
.sitecontent .quick{}
.sitecontent .quick h4{margin: 0 0 5px;color: var(--primary);text-align: center;font-size: 15px;font-family: 'Open Sans', sans-serif; }
.sitecontent .quick h4 small {display: block;font-size: 10px;color: #5a5a5a;}
.sitecontent .quick .qbox {cursor:pointer; text-align: center;color:var(--primary);border: 1px solid #bbb;width: 50px;height: 50px;border-radius: 50%;margin: 0 auto 5px;padding: 2px;font-size: 13px;display:flex;flex-direction: column;justify-content: center;align-items: center;}
.sitecontent .quick .qbox.selected{background: var(--primary);color:#fff;}
.sitecontent .quick .qbox span {display: block;font-size: 10px;line-height: 11px;font-family: 'Open Sans', sans-serif;}
.sitecontent .quick .qbox span:first-child {font-size: 14px;}
.sitecontent .aptqk{background: var(--primary);padding: 5px;text-align: center;margin-top: 7px;border-radius: 5px;}
.sitecontent .aptqk h5 {margin:0 0 5px;color: #5a5a5a;font-size: 12px;border-radius: 5px;font-family: 'Open Sans', sans-serif;}
.sitecontent .aptqk h5 span{color:#fff;}
.sitecontent .aptqk .con{background: #fff;margin-top:5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.sitecontent .aptqk .con img{width:100%;}
.sitecontent .aptqk .con span{display: block;font-size:12px;line-height: 14px;font-family: 'Open Sans', sans-serif;}
.sitecontent .aptqk .con p{font-family: 'Open Sans', sans-serif;margin:0;background: #3e3e3e; color:#fff;font-size: 12px;cursor:pointer;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}

@media only screen and (min-width: 1920px){
    .sitecontent .quick h4{font-size:18px;}
    .sitecontent .quick .qbox {margin-top: 12px;width: 65px;height: 65px;}
    .sitecontent .quick .qbox span {font-size: 12px;line-height: 18px;}
    .sitecontent .quick .qbox span:first-child {font-size: 22px;}
    .sitecontent .aptqk h5 {font-size:20px;}
    .sitecontent .aptqk .con span {font-size: 12px;line-height: 15px;}
    .sitecontent .aptqk .con > div > span:first-child{margin-top:20px;}
    .sitecontent .aptqk .con > div > span:last-child{margin-bottom:20px;}
    .sitecontent .aptqk .con p {font-size:17px;}

}

.searchfilter {width:100%;display: flex;background: rgba(255,255,255,0);border-radius: 4px;margin-top: auto;align-self: flex-start;}
.searchfilter .title {position: relative;z-index: 1;display: flex;align-items: center;justify-content: space-between;background: var(--primary);color:#fff;padding:5px 20px 5px 22px;border-radius: 0px;border-top-right-radius: 30px;border-bottom-right-radius: 30px;}
.searchfilter .title span {width: 55px;line-height: 17px;font-size:14px;letter-spacing: 2px;}
<<<<<<< HEAD
.searchfilter .filterbtn{position: relative;z-index: 10;padding: 5px 10px;display: flex;width: 80%;justify-content: space-between;    max-width: 840px;}
=======
.searchfilter .filterbtn{position: relative;z-index: 12;padding: 5px 10px;display: flex;width: 80%;justify-content: space-between;    max-width: 840px;}
>>>>>>> a3e898390069121c6ee85957372f45375043fd5a
.searchfilter .filterbtn .slab {position: relative;background: #fff;border-radius: 10px;padding: 0 10px;text-align: center;cursor: pointer;display: flex;align-items: center;justify-content: center;min-width: 128px;}
.searchfilter .filterbtn .slab span, .slab span.opc {font-size:13px;display: block;line-height: 14px;}
.searchfilter .filterbtn .slab span:first-child {color: var(--primary);}
.searchfilter .filterbtn .slab span:last-child {font-size:11px;}
.searchfilter .filterbtn .slab .fwrap {display: flex;width: 100%;align-items: center;justify-content: center;}
.searchfilter .filterbtn .slab .namefilter{margin: auto;}
.searchfilter .filterbtn .slab .namefilter > span {font-size:13px;font-family: 'Roboto', sans-serif;}
.searchfilter .filterbtn .slab i {font-size: 10px;color: #797979;margin-left:8px;}
.searchfilter .filteritems {position: absolute;bottom: 22px;padding: 8px 8px 16px;left: 0;width: 120px;min-height: 185px;background: #fff;border-radius: 7px;z-index: -1;}
.searchfilter .filter-title {}
.searchfilter .filter-title h6{ font-weight: 400; color: var(--primary); text-decoration: underline;}
.searchfilter .filter-content {display: flex; justify-content: space-between;    align-items: center;    margin-bottom: 5px;}
.searchfilter .filter-content p { margin-bottom: 0;font-size:12px;font-family: 'Roboto', sans-serif;}
.searchfilter .round { position: relative;width: 18px;height: 18px;}
.searchfilter .round label {border: 1px solid var(--primary);border-radius: 50%;cursor: pointer;height: 18px;left: 50%;position: absolute;top: 0;width: 18px;transform: translateX(-50%);margin:0}
.searchfilter .round input[type="checkbox"] {visibility: hidden;}
.searchfilter .round input[type="checkbox"]:checked + label {background-color: var(--primary);border-color: var(--primary);}
.searchfilter .round input[type="checkbox"]:checked + label:after {opacity: 1;}

.sh {display: flex;justify-content: flex-end;}
.matchsearch .matchdetail .svg, .matchsearch .matchdetail img{position:absolute;}
.matchsearch {width: 100%;  margin-right: 0px;display: flex;flex-direction: column;height: calc(100vh - 14px);}
.matchsearch .detail {height: 98vh; border-radius: 10px;border-top-right-radius: 0;border-bottom-right-radius: 0;position: relative;display:flex; flex-direction:column;}
.matchsearch .matchlist {position: relative;z-index: 2;margin-top:0;}
.matchsearch .matchlist .header.activeunit{display: none;}
.matchsearch .matchlist .header.activeunit.mini {width: 75%;display: flex; margin: 0 auto;justify-content: flex-start;}
.matchsearch .matchlist .header.activeunit.mini p {font-size: 11px;margin-left: 30px;}
.matchsearch .matchlist .header.activeunit.mini .circle.unitno{width: 35px; height: 35px;font-size: 12px;margin:0 0 0 9px;}
.matchsearch .matchlist .header {display: flex;align-items: center;}
.matchsearch .matchlist .header .circle.unitno {width: 30px; height: 30px;margin-right: 6px;font-size:12px;font-family: 'Roboto', sans-serif; }
.matchsearch .matchlist .header p{margin:0;font-size: 16px;font-family: 'Roboto', sans-serif; color:#707070;}
.matchsearch .matchlist .footer{display:flex;}
.matchsearch .sizecontrol {width: 55px;display: flex;margin-left: auto;justify-content: space-between;}
.matchsearch .sizecontrol .round { position: relative; float: left;}
.matchsearch .sizecontrol .round label {background: var(--secondary);border-radius: 50%;cursor: pointer;height: 18px;left: 50%;position: absolute;top: 50%;width: 18px;transform: translate(-50%,-50%);margin:0;}
.matchsearch .sizecontrol .round.min label {width: 6px;height: 6px;}
.matchsearch .sizecontrol .round.mid label {width: 10px;height: 10px;}
.matchsearch .sizecontrol .round.max label {width: 12px;height: 12px;}
.matchsearch .sizecontrol .round input[type="radio"] {visibility: hidden;}
.matchsearch .sizecontrol .round input[type="radio"]:checked + label {background-color: var(--primary);border-color: var(--primary);}
.matchsearch .sizecontrol .round input[type="radio"]:checked + label:after {opacity: 1;}
.matchsearch .sorticon {cursor: pointer;width: 1%;}
.matchsearch .content.mini {height:0px; display:none;}
.matchsearch .content.medium {height:250px; display:block;}
.matchsearch .content.large {height:423px; display:block;}
.matchsearch .content{padding: 7px 7px -1px 7px;border:1px solid #ccc;border-radius: 4px;margin-top: 10px;}
.matchsearch .content table.header {height: auto;display: block;}
.matchsearch .content table.sicon {height: auto;display: block;}
.matchsearch .content table {height:240px;    width: 99%;margin:2px;}
.matchsearch .content table.list {width: 98%;height: 187px;}
.matchsearch .content.large table.list {height: calc(100% - 56px);}
.matchsearch .content tr{}
.matchsearch .content tr td{border: 0;border: 0;padding: 0 10px;text-align: center;}

div#trHead {display: flex;background: #cccccc;color: #fff;border-radius: 2px;margin: 2px;font-family: 'Roboto', sans-serif;font-weight: normal;}
div#trHead > div{width:25%;text-align: center;font-size: 15px;}
.sorticon-warp { display: flex;}
.sorticon-warp .sortico {width: 25%;text-align: center;}
.sortedunit {display: flex;font-size: 12px;}
.sortedunit .unit {width: 20%;text-align: center;}
.sortedunit .unit.active {color: var(--primary);}

.matchsearch .content tr#trHead {text-align: center;}
.matchsearch .content tr#trHead td{padding: 0 10px; width: 25%;}
.matchsearch .content tr#trHead td:first-child {border-top-left-radius: 5px; border-bottom-left-radius: 5px;text-align: center;}
.matchsearch .content tr#trHead td:last-child {border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.matchsearch .content tr#trHead {background: #ccc; color: #fff;}
.matchsearch .content tr.trdata {font-size: 12px;cursor: pointer;}
.matchsearch .content tr.trdata.active{color:var(--primary)}
.matchsearch .content tr.trdata td { padding: 5px 0;width: 17.7%;font-family: 'SegoeUI', sans-serif;font-weight: 300;}
.matchsearch .content .no-results{padding:10px; color:var(--primary); font-weight:400;}


.matchsearch .unithighlight{overflow-x:hidden;position: absolute;bottom:0;z-index: 1;height: 85vh;width: 100%;}
.matchsearch .unithighlight .header {display: flex;align-items: center;}
.matchsearch .unithighlight .header .circle.unitno {width: 30px;height: 30px;margin-right: 6px;font-size: 12px;    font-family: 'Roboto', sans-serif;}
.matchsearch .unithighlight .header p {font-size: 13px; margin:0;line-height: 20px;font-family: 'SegoeUI', sans-serif;font-weight: 300;}
.matchsearch .unithighlight .header .siteplan {width: 90px; font-size: 14px; display: flex;align-items: center;align-self: flex-start;margin-left: auto;cursor: pointer;    -webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;}
.matchsearch .unithighlight .header .siteplan span{margin-right: 5px;}
.matchsearch .unithighlight .header .siteplan img{align-self: center;}
.matchsearch .unithighlight .content {border: 0;display: flex; flex-direction: column;justify-content: space-between;}
.matchsearch .unithighlight .content .textarea{}
.matchsearch .unithighlight .content textarea{ width:100%; height: 184px;line-height: 18px; font-size: 14px;border: 0;font-family: 'SegoeUI', sans-serif;    font-weight: 300;}


.matchsearch .unithighlight .content img { width: 100%; margin-top: 5px; margin-bottom: 5px;}
.matchsearch .unithighlight .content.large .textarea{display: none;}
.matchsearch .unithighlight .footer{font-size: 12px; text-align: right;}
.matchsearch .unithighlight.mid {height:auto}
.matchsearch .unithighlight.mid .content .textarea {display: none;}
.matchsearch .unithighlight.mid #ascrail2002 .nicescroll-cursors{display: none;}
.matchsearch .matchdetail.min {display: none;}
.matchsearch .unithighlight.min {height: auto;}
.matchsearch .unithighlight.min .footer{display:flex;}
.matchsearch .unithighlight .header.activeunit {display: none;}
.matchsearch .unithighlight.min .header.activeunit.min {width: 75%;display: flex;margin: 0 auto;justify-content: flex-start;}
.matchsearch .unithighlight.min .header.activeunit.min p {font-size: 11px;margin-left: 29px;text-align: left;line-height: 16px;}


@media only screen  and (min-width:1440px){
    .matchsearch .unithighlight {height: auto;}
    .matchsearch .unithighlight .content textarea {height: 106px;}
}

@media only screen  and (min-width:1600px){
    .matchsearch .matchlist .header .circle.unitno,
    .matchsearch .unithighlight .header .circle.unitno {width: 35px;height: 35px;font-size: 14px;}
    .matchsearch .unithighlight .header p {font-size: 15px;}
    .matchsearch .unithighlight .content textarea {height: 69px;}
}


@media only screen and (min-width: 1680px){
    .matchsearch .unithighlight .content textarea {height: 160px;}
}

@media only screen  and (min-width:1920px){
    .matchsearch.min .unithighlight {display: none;}
    .matchsearch.med .unithighlight .header p {width: 85%;font-size: 13px;}
    .matchsearch.med .unithighlight .header .siteplan.up{display:none;}
    .matchsearch.med .unithighlight .content textarea {font-size: 12px;height: 98%;}
    .matchsearch.med .unithighlight .footer {display: flex;text-align: left;}
    .matchsearch.med .unithighlight .footer p{margin: 0;}
    .matchsearch.med .unithighlight .footer span{}
    .matchsearch.med .unithighlight .footer .siteplan.down { cursor:pointer; width: 30%; display: flex;justify-content: flex-end;align-items: flex-start;}
    .matchsearch .unithighlight.min .header.activeunit.min p {font-size: 14px;}

}

.matchsearch.max .unithighlight .header p {width: 60%;font-size: 13px;}
.matchsearch.max .unithighlight .footer .siteplan.down.large{display:none;}
.matchsearch.max .unithighlight .footer p{margin: 0;}

.matchsearch .buttons {margin-top: auto;    position: relative;z-index:1;}
.matchsearch .buttons .content{border:0;display: flex;margin-top:0;}
.matchsearch .buttons .content:first-child{margin-bottom: 7px;}
.matchsearch .buttons .content .vbtn{border:1px solid #ccc;text-align:center;cursor:pointer;border-right: 0; background-color:#ffffff;-webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none;-ms-user-select: none; text-transform: uppercase;font-size: 13px;}
.matchsearch .buttons .content .vbtn.selected{background-color:var(--primary);color:#fff}
.matchsearch .buttons .content:first-child .vbtn {width: 25%;}
.matchsearch .buttons .content:nth-child(2) .vbtn {width: 50%;}
.matchsearch .buttons .content .vbtn:first-child {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.matchsearch .buttons .content .vbtn:last-child {border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-right: 1px solid #ccc;}
.matchsearch .buttons .content .vbtn a{color:#212529; text-decoration: none}
.matchsearch .buttons .round { position: relative; float: left; margin-left: 7px;width: 25%}
.matchsearch .buttons .round label {border: 1px solid var(--primary);cursor: pointer;left: 50%;position: absolute;top: 0;width: 100%;    transform: translateX(-50%);}
.matchsearch .buttons .round input[type="radio"] {visibility: hidden;}
.matchsearch .buttons .round input[type="radio"]:checked + label {background-color: var(--primary);border-color: var(--primary);}
.matchsearch .buttons .round input[type="radio"]:checked + label:after {opacity: 1;}
.matchsearch .show{display: block !important;}

.vmodal {display: none;position: absolute;background: #fff;width: 420px;z-index: 10;min-height: 94px;bottom: 0px;transform: translateX(-0%);border-radius: 4px;padding: 7px;border-left: 10px solid var(--primary);}
.vmodal span { float: right;   font-size: 20px;   position: absolute;    top: 0;    right: 7px;    cursor: pointer;}
.vmodal p {margin: 0;font-size: 13px;padding-right: 20px;}

.searchhome {display: none;flex-direction: column;background: rgba(255,255,255,0.25);border-radius: 4px;border-radius: 4px;width: 27%;}
.searchhome .title {align-self: flex-start;align-items: center;background: var(--primary);border-top-left-radius: 4px;border-top-right-radius: 4px;color: #fff;display: flex;justify-content: center;padding: 10px 15px;width: 100%;}
.searchhome .title img {align-self: center;margin-right: 12px;}
.searchhome .title span { width: 53px;line-height: 17px; font-size:15px;}
.searchhome .content {padding: 10px; height: calc(100vh - 69px);}
.searchhome .content .scroll{ height: 100%;  overflow: scroll;border-radius: 4px;}
.searchhome .slab{background: #fff; padding: 7px;border-radius: 4px;    margin-bottom: 10px;}
.searchhome .slab:last-child{  margin-bottom: 0px; }
.searchhome .filter-title {}
.searchhome .filter-title h6{ font-weight: 400; color: var(--primary); text-decoration: underline;}
.searchhome .filter-content {display: flex; justify-content: space-between;    align-items: center;    margin-bottom: 5px;}
.searchhome .filter-content p { margin-bottom: 0;font-size:12px;}

.searchhome .round { position: relative;width: 18px;height: 18px;}
.searchhome .round label {border: 1px solid var(--primary);border-radius: 50%;cursor: pointer;height: 18px;left: 50%;position: absolute;top: 0;width: 18px;transform: translateX(-50%);margin:0}
.searchhome .round input[type="checkbox"] {visibility: hidden;}
.searchhome .round input[type="checkbox"]:checked + label {background-color: var(--primary);border-color: var(--primary);}
.searchhome .round input[type="checkbox"]:checked + label:after {opacity: 1;}

@media only screen  and (min-width:1920px){
    .searchhome{width:20%;}
    .matchsearch .matchlist .header.activeunit.mini {width: 81%;}
    .matchsearch .matchlist .header.activeunit.mini p {width: 80%;font-size:14px;}
    .matchsearch {width: 82%;}
    .matchsearch .detail {height: 98vh;}
    .matchsearch .content.medium table.list { height: 80%;}
    .matchsearch .content tr.trdata {font-size: 15px;}
    .matchsearch .unithighlight {height: auto;}
    .matchsearch .unithighlight .content {height: 90% !important;}
    .matchsearch .unithighlight .content .textarea{}

}
@media only screen  and (min-width:2560px){
    .tbtn * {font-size: 13px;}
    .selectunit {width: 100%;}
    .selectunit .unit span {line-height: 17px;font-size: 14px;}
    .matchsearch {width: 82%;}
    .matchsearch .matchlist .header.activeunit.mini {width: 82%;}
    .matchsearch .matchlist .header.activeunit.mini p {width: 100%;font-size: 15px;line-height: 20px;margin-left: 36px;}
    .matchsearch .matchlist .header.activeunit.mini .circle.unitno { width: 50px; height: 50px;font-size: 14px; margin: 0 0 0 22px;}
    .matchsearch .matchlist .header p {font-size: 20px;}
    .matchsearch .content tr.trdata {font-size: 20px;}
    .matchsearch .unithighlight .header .siteplan {width: 116px;font-size: 20px;}
    .matchsearch.large .unithighlight .header p { width: 85%;font-size: 20px;}
    .matchsearch.medium .unithighlight .header p {width: 85%;font-size: 20px;}
    .matchsearch .content.medium {height: 365px;}
    .matchsearch .unithighlight .header .circle.unitno {width: 40px;height: 40px;}
    .matchsearch .matchlist .header .circle.unitno {width: 40px;height: 40px;}
    .matchsearch .content table {   height: 100%;}
    .matchsearch .unithighlight .content textarea { font-size: 17px !important;line-height: 20px;}
    .matchsearch .unithighlight .footer {font-size: 17px;}
    .matchsearch.medium .unithighlight .footer {padding-top: 10px;}
    .matchsearch.medium .unithighlight .footer .siteplan.down {align-items: center;}
    .matchsearch.medium .unithighlight .footer .siteplan.down {width: 22%;}
    .matchsearch .buttons .content:first-child{margin-bottom: 7px;}
    .searchhome {width:20%;font-size: 18px;}
    .searchhome .title span {width: 140px;font-size: 18px;}
    .searchhome .filter-title h6 { font-size: 20px;}
    .searchhome .filter-content p { margin-bottom: 0;font-size:20px;}
}


/* Grid */

.rect-container{
    position:absolute;
}

.rect-container .row{
    height:30px;
}

.rect{
    height: 30px;
    width: 30px;
    margin: 0px;
    padding: 0px;
}

.rect-container img{
    z-index:4;
    width:24px;
    padding:0 !important;
    margin:0 !important;
}
