/*  Svg 3 */

.st0-3{fill:#FFFFFF;}
.st1-3{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2-3{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
.st3-3{fill:transparent;}
.st4-3{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st5-3{fill:#E2D7C9;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st6-3{fill:#FFFFFF;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st7-3{fill:#A9D2E0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st8-3{fill:#FFFFFF;stroke:#000000;stroke-width:0.6244;stroke-miterlimit:10;}
.st9-3{fill:#FFFFFF;stroke:#000000;stroke-width:0.6236;stroke-miterlimit:10;}

.st10-3{fill:#BCBEC0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st11-3{font-family:'Gotham-Bold';}
.st12-3{font-size:10px;}
.st13-3{fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.st14-3{fill:#A9D2E0;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.st15-3{font-size:5.5px;}

/*  Svg 4 */

.st0-4{fill:#FFFFFF;}
.st1-4{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2-4{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
.st3-4{enable-background:new    ;}
.st4-4{fill:transparent;}
.st5-4{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st6-4{fill:#E2D7C9;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st7-4{fill:#FFFFFF;stroke:#000000;stroke-width:0.7669;stroke-miterlimit:10;}
.st8-4{fill:#FFFFFF;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st9-4{fill:#FFFFFF;stroke:#000000;stroke-width:0.7652;stroke-miterlimit:10;}
.st10-4{fill:#A9D2E0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st11-4{fill:#D1D3D4;stroke:#000000;stroke-miterlimit:10;}
.st12-4{fill:#BCBEC0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st13-4{font-family:'Gotham-Bold';}
.st14-4{font-size:10px;}

/* Svg 5 */

.st0-5{fill:#FFFFFF;}
.st1-5{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2-5{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
.st3-5{enable-background:new    ;}
.st4-5{fill:transparent;}
.st5-5{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st6-5{fill:#E2D7C9;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st7-5{fill:#FFFFFF;stroke:#000000;stroke-width:0.7669;stroke-miterlimit:10;}
.st8-5{fill:#FFFFFF;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st9-5{fill:#FFFFFF;stroke:#000000;stroke-width:0.7652;stroke-miterlimit:10;}
.st10-5{fill:#A9D2E0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st11-5{fill:#BCBEC0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st12-5{font-family:'Gotham-Bold';}
.st13-5{font-size:10px;}

/* Svg 6 */

.st0-6{fill:#FFFFFF;}
.st1-6{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2-6{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
.st3-6{enable-background:new    ;}
.st4-6{fill:transparent;}
.st5-6{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st6-6{fill:#E2D7C9;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st7-6{fill:#FFFFFF;stroke:#000000;stroke-width:0.7669;stroke-miterlimit:10;}
.st8-6{fill:#FFFFFF;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st9-6{fill:#FFFFFF;stroke:#000000;stroke-width:0.7652;stroke-miterlimit:10;}
.st10-6{fill:#A9D2E0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st11-6{fill:#BCBEC0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st12-6{font-family:'Gotham-Bold';}
.st13-6{font-size:10px;}

/* Svg 7 */

.st0-7{fill:#FFFFFF;}
.st1-7{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2-7{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
.st3-7{enable-background:new    ;}
.st4-7{fill:transparent;}
.st5-7{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st6-7{fill:#E2D7C9;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st7-7{fill:#FFFFFF;stroke:#000000;stroke-width:0.7669;stroke-miterlimit:10;}
.st8-7{fill:#FFFFFF;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st9-7{fill:#FFFFFF;stroke:#000000;stroke-width:0.7652;stroke-miterlimit:10;}
.st10-7{fill:#A9D2E0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st11-7{fill:#BCBEC0;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.st12-7{font-family:'Gotham-Bold';}
.st13-7{font-size:10px;}


/* Common */

rect.highlighted:hover, polygon.highlighted:hover{
    cursor: pointer;
    fill:#92d050;
}

text.highlighted:hover{
    pointer-events: fill;
    cursor:pointer;
}

rect.highlighted, polygon.highlighted{
<<<<<<< HEAD
    fill:var(--primary);
=======
    fill:#79ADF6;
>>>>>>> a3e898390069121c6ee85957372f45375043fd5a
}

rect.active, polygon.active{
    fill:#92d050;
}

text.highlighted, text.active{
    fill:white;
}
